
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body > div{
  width: 100%;
  background: gray;
  display: grid;
  gap: 10px;
  grid:
    'header header header header header' auto
    'menu main main main main' auto
    'menu aside aside aside aside' auto
    'menu item1 item1 item2 item2' auto
    'menu item1 item1 item2 item2' auto
    'footer footer footer footer footer' 150px;
}
div div{
  font-size: 20px;
}
div div:not(:first-child){
  border-radius: 10px;
}
div div:first-child{
  padding: 20px;
  background-color: black;
  grid-area: header;
  color: aliceblue;
  z-index: 200;
}
div div:first-child img{
  width: 150px;
  float: left;
}
div div:nth-of-type(2){
  grid-area: menu;
}
div div:nth-of-type(2) ul{
  list-style-type: none;
  background-color: gray;
}
div div:nth-of-type(2) ul li{
  padding: 10px;
}
div div:nth-of-type(2) ul li a{
  background-color: rgb(61, 61, 61);
  text-decoration: none;
  color: antiquewhite;
  padding: 20px 90px;
  display: inline-block;
  border-radius: 5px;
  transition: .5s ease;
}
div div:nth-of-type(2) ul li a:hover{
  background-color: rgb(102, 102, 102);
}

div div:nth-of-type(3){
  padding: 30px;
  grid-area: main;
}
div div:nth-of-type(3) h2{
  padding: 30px 0;
}
div div:nth-of-type(4){
  grid-area: aside;
  padding: 20px;
  columns: auto 3;
  column-gap: 50px;
  column-rule: 4px solid black;
}
div div:nth-of-type(5){
  grid-area: item1;
  padding: 20px;
}
div div:nth-of-type(5) img,
div div:nth-of-type(6) img{
  padding: 20px;
  width: 100%;
  max-width: 300px;
  float: left;
}
div div:nth-of-type(5) p,
div div:nth-of-type(6) p{
  padding: 20px;
  text-align: justify;
}
div div:nth-of-type(6){
  grid-area: item2;
  padding: 20px;
}
div div:last-child{
  grid-area: footer;
  background-color: black;
}
@media screen and (max-width: 600px){
  body > div{
    grid:
      'header'
      'menu'
      'main'
      'aside'
      'item1'
      'item2'
      'footer';
  }
  div div:nth-of-type(2) ul li a{
    text-align: center;
    width: 100%;
  }
  div div:nth-of-type(4){
    columns: auto 1;
  }
}